@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.head {
  height: 1000px;
  background-color: #000;
  color: #eee;
}
.head ul {
  display: flex;
}
.head_content{
  position: relative;
}
.head_content .logo_page{
  position: absolute;
  top: 100px ;
  left: 0;

}
.head_content,
.head_content.content2 {
  width: 1460px;
  margin: 0 auto;
}
.head ul li {
  display: flex;
  font-size: 23px;
  opacity: 50%;
  margin-right: 72px;
}
.head .nav {
  float: right;
}
.head .nav li {
  opacity: 100%;
  margin-top: 190px;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 90px;
}
.container,
.sub_container,
.section3 {
  width: 1120px;
  margin: 0 auto;
}
.content_01 h1,
.content_02 h1 {
  font-weight: 800;
  font-size: 30px;
}
.section_01,
.section_02,
.section_03,
.section_04 > .total,
.sub_container > ul {
  display: flex;
  justify-content: space-between;
}
.section_01 h1 {
  margin-top: 60px;
}
.section_01 img {
  height: 420px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.section_01 h2 {
  font-size: 15px;
  margin-bottom: 16px;
}
.section_02 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.section_02 h1 {
  margin-bottom: 30px;
}
table {
  width: 110%;
  border-top: 2px solid #444444;
  border-collapse: collapse;
}
.thead {
  list-style: none;
  float: left;
  width: 150px;
  font-size: 26px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;  
}
.thead.on {
  background-color: #000;
  color: #fff;
  font-weight: 400;
}
.tab_cont {
  clear: both;
}
.tab_cont div {
  display: none;
  text-align: center;
}

.tab_cont div.on {
  display: block;
}
th,
td {
  border-bottom: 1px solid #444444;
  padding: 18px 10px;
}

.menu > a {
  font-size: 18px;
  font-weight: 700;
}
.menu ul {
  padding-top: 22px;
}
.menu li {
  color: #535353;
  font-size: 15px;
  padding-bottom: 15px;
}
.section_04 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.section_04 h1 {
  margin-bottom: 30px;
}
.section_04 img {
  height: 360px;
}
.section_04 .btns {
  margin-top: 20px;
}
.section_04 button {
  width: 70px;
  height: 26px;
  font-size: 10px;
}
.btn_01 {
  background-color: #000;
  color: #fff;
}
.btn_02 {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.section_04 h2 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 16px;
}
.section_04 p {
  font-size: 14px;
  color: #535353;
}
.sub_container {
  width: 940px;
  text-align: center;
  margin-bottom: 110px;
}
.footer {
  background-color: #000;
  height: 338px;
}
.footer ul {
  width: 1460px;
  margin: 0 auto;
  color: #fff;
  padding: 60px 0;
  opacity: 50%;
  display: flex;
  justify-content: space-between;
}
.footer p {
  font-size: 15px;
}
.co {
  color: #535353;
}
.footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left img {
  width: 160px;
}
.social {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding-right: 230px;
}
.footer .right {
  text-align: right;
  width: 152px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .right p,
.footer .left p {
  padding-bottom: 20px;
}
/* page2 */
.head_content.content2 {
  background-color: #fff;
  height: 233px;
}
.head_content.content2 .main_text {
  display: flex;
  justify-content: space-between;
  padding: 60px 60px 0 60px;
}
.head_content.content2 .main_text .icon img:first-child{
  margin: 3px;
  height: 38px;
}
.main_text h2 {
  font-size: 50px;
  font-weight: 800;
  color: #000;
  padding-bottom: 36px;
}
.main_text img {
  padding-left: 54px;
}
.sub_text {
  padding: 0 60px;
  height: 34px;
  display: flex;
  align-items: center;
  color: #535353;
  font-size: 24px;
  font-weight: 700;
}
.sub_text img {
  padding: 0 10px;
}
.sub_text p > span {
  color: #503396;
}
.section2_01 h1 {
  padding-top: 14px;
  padding-bottom: 20px;
  color: #535353;
  font-size: 30px;
  border-bottom: 1px solid #535353;
}
.section2_01 p {
  color: #535353;
  padding-top: 34px;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 64px;
}
.section2_02 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.section2_03,
.section2_04 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
.section2_03 p,
.section2_04 p,
.section2_05 p {
  width: 350px;
  font-size: 16px;
  font-weight: 300;
}
.section2_05 {
  margin-left: 385px;
  padding-bottom: 190px;
  position: relative;
}
.section2_05 button {
  position: absolute;
  bottom: 150px;
  right: 0;
  height: 60px;
  width: 228px;
  background-color: #252451;
  color: #fff;
  font-size: 22px;
}
/* page3 */
.section3 {
  display: flex;
  justify-content: space-between;
  margin-top: 68px;
  margin-bottom: 108px;
}
.section3 h1 {
  font-size: 22px;
  font-weight: 700;
  color: #535353;
}
.section3 p {
  width: 800px;
  font-size: 19px;
  color: #535353;
}
.background {
  width: 1920px;
  margin: 0 auto;
}
.section3_list {
  width: 1260px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.section3_list h1 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 44px;
  border-bottom: 1px solid #535353;
}
.section3_list .list {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  border-bottom: 1px solid #535353;
}
.section3_list .list p {
  font-size: 23px;
  color: #535353;
  padding-bottom: 24px;
}
.section3_list .list ul {
  width: 230px;
  margin: 0 auto;
  /* justify-content: space-between; */
}
.section3_list .list ul li {
  padding-bottom: 20px;
}
